body
{
	margin: 0;
	background-color: #00539CFF;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

header{
    text-align: center;
    width:auto
    margin-left: auto;
    margin-right: auto;
}

.logo{
    text-align: center;

}


.logotext{
    display: inline-block;
    font-size: 30px;
    color: #EEA47FFF;
}

.logoimg{
    display: inline-block; 
}

.logoimg img{
    width: 50px;
    margin-left: 5px;
}


.topnav{
    background-color: #EEA47FFF;
	text-align: center;
}

.menu{
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;
}

.menu li {
    display: inline-block;
    border-right: #00539CFF solid 1px;
    padding-left: 20px;
	padding-right: 20px;
}

.menu > li:first-child
{
	border-left: 1px solid #00539CFF;
}

.menu a
{
	color: #00539CFF;
	text-decoration: none;
}

.menu a:hover
{
	color: #0a2b42;
}


.container{
    width: auto;
    padding-top: 60px;
    text-align: center; 
    padding-left: 140px;
    padding-right: 240px;
   
}


.container img {
    width: 440px;
    height: 200px;
    display:inline-block;
    padding: 5px;
    margin-left: 100px;
    border-radius: 10%;

}


.container img:hover{
    opacity: .5;
}

.description{
    padding-top: 20px;
    width: 900px;
    height: 1200px;
    text-align: justify;
    margin-left: 26%;
    margin-right: 24%;
    
    
}




.description img{
    width: 420px;
    float: left;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 20px;


}

.description p{
    margin: 0px;
    text-align: left;
    
   
}

.description h1{
    margin-top: 10px;
    padding-top: 5px;
    margin-left: 450px;
}

.anotherdesc{
    padding-top: 35px;
}

.title1{
 
    width: 422px;;
    text-align: center;
}

.title2{
 
    width: 422px;;
    text-align: center;
}




.conttest{
    width: 1903px;
    height: 300px;
    display: inline-flex;
    align-items: center;
   
    
    
}

.image {
	position: relative;
	width: 450px;
    float:left;
    margin-left: 450px
  
    
}
.image2 {
	position: relative;
	width: 1000px;
    float: left;
    margin-left: 90px;
    border-radius: 5%;
    
  
    
}

.image__img {
	
	width: 450px;
    height: 250px;
    display: block;
    border-radius: 5%;
}

.image__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 450px;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
    border-radius: 4%;
}

.image__overlay--blur {
	backdrop-filter: blur(5px);
}

.image__overlay--primary {
	background: #009578;
}

.image__overlay>* {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.image__overlay:hover {
	opacity: 1;
}

.image__overlay:hover>* {
	transform: translateY(0);
}

.image__title {
	font-size: 2em;
	font-weight: bold;
}

.image__description {
	font-size: 1.25em;
	margin-top: 0.25em;
}
